.body {
  margin-top: 40%;
  h2 {
    color: #004e39;
  }
}

.footer{
  margin-top: 15%;
}

.titulo {
  color: #004e39;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#tela{
  --background: #fff url('/assets/img/telas.jpeg') fixed center center / cover;
  //background: url('/assets/img/telas.jpeg') ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.botoes {
  color: #ffffff;
  background-color: #00883c;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}


.p-scrollpanel {
  p {
    padding: .5rem;
    line-height: 1.5;
    margin: 0;
  }

  &.custombar1 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--primary-color);
      opacity: 1;
      transition: background-color .2s;

      &:hover {
        background-color: #007ad9;
      }
    }
  }

  &.custombar2 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
      border-bottom: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--layer-2);
      border-radius: 0;
      opacity: 1;
      transition: background-color .2s;
    }
  }
}

::ng-deep .p-multiselect-items-wrapper {
  max-width: 450px !important;
}



