ion-content{
  --background: #fff url('/assets/img/fundoSemLogo.jpeg') no-repeat center center / cover;
}

ion-segment {
  --background: #1ac358;
}

.rodape {
  position: absolute;
  left: 15%;
  right: 0;
  bottom: 0;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  z-index: 2;


  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 1%;
    span {
      color: #fff;
    }
  }
}


ion-slides {
  height: 100%;

  .slide-inner {
    width: 75%;
    color: #fff;
    background-color: rgb(18, 87, 56, 0);

    border-radius: 10px;

    ion-item {
      --background: rgba(255, 255, 255, 0.2);
      --border-radius: 10px;

      ion-input {
        --color: #fff;
      }
    }
  }
}

.ocean {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45%;
  background: #ffffff;


  .waves{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 146px;
    //background-image: url('/assets/img/plantas.png');
    background-size: contain;
    transition: all 0.5s;
  }

}
