<ion-menu menuId="main-menu" content-id="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/cadastro">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label style="margin-left: 5%">Meu cadastro</ion-label>
      </ion-item>
      <ion-item routerLink="/permissoes">
        <ion-icon  name="settings-outline"></ion-icon>
        <ion-label style="margin-left: 5%">Permissões</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="folder-outline"></ion-icon>
        <ion-label style="margin-left: 5%">Historico de entregas</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label style="margin-left: 5%">Notas Fiscais</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="man-outline"></ion-icon>
        <ion-label style="margin-left: 5%">Clientes</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content id="home">
    <div class="header">
      <ion-grid>
        <ion-row class="ion-text-center ion-aling-items-center">
          <ion-col size="2">
            <ion-buttons>
              <ion-menu-button style="color: #ffffff" menu="main-menu"></ion-menu-button>
            </ion-buttons>
          </ion-col>
          <ion-col size="8"></ion-col>
          <ion-col size="2">
            <ion-icon style="padding-top: 10%; color: #ffffff" (click)="logout();" size="large" name="log-out-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="main-poster">
      <span style="margin-left: 5%">USUÁRIO</span>
      <div align="center">

        <span class="nomeUsuario">{{ this.usuarioLogado.usuario | uppercase }}</span>
      </div>
    </div>

  <div align="center" style="margin-top: 5%" class="ion-padding">

    <p-calendar (onSelect)="onSelect($event)" [style]="{'width':'100%'}" [disabledDays]="[0]" [locale]="pt" [(ngModel)]="value" dateFormat="dd/mm/yy" [inline]="true" >

    </p-calendar>

    <div align="center" class="horarios">
      <h2>HORÁRIOS DISPONÍVEIS <ion-icon (click)="showDialog()" style="margin-left: 1%; padding-top: 3%" name="settings-sharp"></ion-icon></h2>
    </div>

    <p-selectButton [style]="{'margin':'10px'}" [options]="horariosDisponiveis" [(ngModel)]="horario" optionLabel="label" optionValue="value"></p-selectButton>

  </div>

</ion-content>

<p-dialog header="Defina o período de expediente" [(visible)]="display">
  <form class="example-form" [formGroup]="conf">
    <p>Horários</p>
    <ion-row>
      <ion-col size="6">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Hora Inicial:</mat-label>
          <input  [formControl]="horaInicialControl" formControlName="horaInicial" matInput placeholder="Ex. 07:45">
        </mat-form-field>
      </ion-col>
      <ion-col size="6">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Hora Final:</mat-label>
          <input [formControl]="horaFinalControl" formControlName="horaFinal" matInput placeholder="Ex. 18:00">
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Intervalo entre horários (Em minutos):</mat-label>
          <input [formControl]="intervaloControl" id="intervaloControl" formControlName="intervalo" matInput placeholder="Ex. 30">
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Bloquear Horários:</mat-label>
          <mat-chip-list #chipList aria-label="Fruit selection" formControlName="bloqueados">
            <mat-chip *ngFor="let horario of conf.get('bloqueados').value" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(horario)">
              {{horario}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Ex. 12:00"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </ion-col>
      <p>Dias da semana</p>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-label>Domingo</ion-label>
            <ion-checkbox formControlName="domingo" slot="end" value="conf.domingo"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Segunda</ion-label>
            <ion-checkbox formControlName="segunda" slot="end" value="conf.segunda"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Terça</ion-label>
            <ion-checkbox formControlName="terca" slot="end" value="conf.terca"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Quarta</ion-label>
            <ion-checkbox formControlName="quarta" slot="end" value="conf.quarta"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Quinta</ion-label>
            <ion-checkbox formControlName="quinta" slot="end" value="conf.quinta"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Sexta</ion-label>
            <ion-checkbox formControlName="sexta" slot="end" value="conf.sexta"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Sábado</ion-label>
            <ion-checkbox formControlName="sabado" slot="end" value="conf.sabado"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col align="right">
        <ion-button color="success" (click)="salvarConf(conf.value)">Salvar</ion-button>
      </ion-col>

    </ion-row>
  </form>
</p-dialog>
