.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#home{
  --background: #fff url('/assets/img/home.jpeg') no-repeat center center / cover;
}


.main-poster {
  .nomeUsuario {
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
  }
  position: relative;
  width: 100%;
  height: 40vh;
  top: 35%;

  color: #ffffff;
  font-size: 18px;


}

ion-icon {
  color: #ffffff;
}

.monthview-selected {
  background-color: red;
}

td {
  border: none !important;
}

.monthview-current{
  background-color: #5d58e0 !important;
}

calendar {
  color: #ffffff;
}

.monthview-selected{
  font-weight: bold;
  background-color: #F1F1F1 !important;
  color: #333 !important;
}

//.dayOff{
//  border-top: #f53d3d;
//  border-bottom-width: thin;
//  border-top-style: solid;
//}
