<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" style="margin-left: 2%" slot="start" size="large" name="arrow-back-outline"></ion-icon>
    <ion-title align="center">Lista de Entregas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="tela">
  <div class="body">
    <ion-row>
      <ion-col size="12">
          <label>Entregas do dia:</label>
          <br>
          <p-calendar (onSelect)="onSelect($event)" [(ngModel)]="date" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon"></p-calendar>
      </ion-col>
    </ion-row>
  </div>

    <div class="legenda" align="center">
      <ion-row>
        <ion-col>
          <span style="margin-left: 3%"><p-tag severity="warning" value="Aguardando"></p-tag></span>
        </ion-col>
        <ion-col>
          <span style="margin-left: 3%"><p-tag severity="success" value="Retirado"></p-tag></span>
        </ion-col>
        <ion-col>
          <span style="margin-left: 3%"><p-tag severity="danger" value="Atrasado"></p-tag></span>
        </ion-col>
      </ion-row>
    </div>

  <p-scrollPanel [style]="{width: '100%', height: '400px'}">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let pedido of pedidos; let i = index" [expanded]="step === i" (opened)="setStep(i, pedido)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="pedido.status === 0 && !compararHora(horaAtual, pedido.horario)" style="margin-right: 3%"><p-tag severity="warning"><ion-icon name="alarm"></ion-icon></p-tag></span>
            <span *ngIf="pedido.status === 1" style="margin-right: 3%"><p-tag severity="success"><ion-icon name="alarm"></ion-icon></p-tag></span>
            <span *ngIf="compararHora(horaAtual, pedido.horario) && pedido.status !== 1" style="margin-right: 3%"><p-tag severity="danger" ><ion-icon name="alarm"></ion-icon></p-tag></span>
            <span>Cliente: {{pedido.cpf}}</span>
            <span style="margin-left: 10%"><p-tag severity="info" value="{{pedido.horario}}"></p-tag></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
          <div style="margin-bottom: 5%">
            <p-table [value]="pedidoExpandido" [scrollable]="true" scrollHeight="100px">
              <ng-template pTemplate="header">
                <tr>
                  <th style="min-width:200px">Produto</th>
                  <th style="min-width:200px; text-align: right">Quantidade</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td style="min-width:200px">{{item.descricao}}</td>
                  <td style="min-width:200px; text-align: right">{{item.quantidade}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <span style="font-weight: bold; margin-top: 5%">Quantidade Total: </span><span>{{quantidadeTotal}}</span>
        <div style="margin-top: 5%" align="center">
          <ion-button *ngIf="pedido.status !== 1" size="small" color="success" (click)="atualizaStatus(1,pedido)"><ion-icon style="margin-right: 2%" name="checkmark-circle"></ion-icon>Retirado</ion-button>
          <ion-button size="small" color="danger" (click)="atualizaStatus(2,pedido)"><ion-icon style="margin-right: 2%" name="close-circle"></ion-icon>Cancelado</ion-button>
        </div>
          <mat-action-row>
          <button *ngIf="i > 0" mat-button color="warn" (click)="prevStep()">Anterior</button>
          <button mat-button color="primary" (click)="nextStep()">Próximo</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </p-scrollPanel>

</ion-content>
